category: "Kategorie"
editCategory: "Upravit kategorii"
newCategory: "Nová kategorie"
noParent: "-- žádná --"
orderChanged: "Pořadí změněno"
name: "Název"
link: "Odkaz"
parentCategory: "Nadřazená kategorie"
linkExist: "Takový odkaz už existuje"
